.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.App-header {
  background-color: #f4f4f5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#editor,
#preview {
  width: 40%;
  height: 90vh;
  overflow: auto;
}
#editor {
  background-color: #000;
  color: #ddd;
  border: none;
  outline: none;
}

#preview {
  background-color: #ddd;
  color: #000;
  border: 1px solid #000;
}
